/**********************************
			WOOCOMMERCE working seprated from main css
  ***********************************/

/***********single pruduct page ****************/

.site-main {
  /* background-color: #eee; */
  padding-bottom:100px;
}
.single-product div.product {
    position: relative;
  }

.single-product .product {
  /* background-color: #00d084 !important; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.entry-title {
  width: 100%;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
  display: block;
  /* padding:20px; */
  /* background-color: #0c40e9 !important; */
  width: 400px;
}

/*main picture */
.product.type-product .woocommerce-product-gallery__wrapper img {
    width: 100%;
  }
.related {
  display: block;
  width: 100%;
  /* background-color: #2a7a62; */
}

.woocommerce div.product div.summary {
  /* background-color: #dc1a54; */
  width: 50%;
}

.comment-form-comment {
  display: flex;
  flex-direction: column;
}

.entry-summary {
  display: flex;
  flex-direction: column;

  padding: 0px 0 0 50px;
}
.entry-summary .cart {
    display: flex;
    padding: 0px;
  
    column-gap: 0px;
    align-items: center;
    margin-bottom: 20px;
  }
.product_title {
  margin-top: 0 !important;
}


.single_add_to_cart_button {
 
  padding: 6px !important;
  border-radius: 1px;
  color: #fff;
}

.entry-summary .cart .input-text {
  /* border: 1px solid #666; */
  height: 35px;
}


.woocommerce-noreviews {
  background-color: #ccc !important;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.shop-products {
  /* display: flex; */
}

/************* product page add by me *************/

.woocommerce span.onsale {
  min-height: 3.236em;
  min-width: 3.236em;
  padding: 0.202em;
  font-size: 1em;
  font-weight: 700;
  position: absolute;
  text-align: center;
  line-height: 3.236;
  top: -0.5em;
  left: -0.5em;
  margin: 0;
  border-radius: 100%;
  background-color: #f1c30dd5;
  color: #fff;
  font-size: 0.857em;
  z-index: 9;
}

.woocommerce a.button {
  text-decoration: none;
}

.product.type-product {
  margin-top: 20px;
}

@media (max-width: 1240px) {
  .product.type-product {
    width: 100%;
  }
}


/*related on single product page */

.related.products {
  clear: both;
}

.related .shop-products {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 20px;
  /* background-color: rgb(103, 12, 12); */
  overflow: hidden;
  border-top: 1px solid #aaa;
  
}

.related .shop-products .type-product {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* background-color: #00d0c9; */
    width: 15%;
    /* margin: 15px 10px; */
    /* align-items: center; */
    /* background-color: aqua; */
    overflow: hidden;
  }
  .related .demo_div_wrapper{

    /* background-color: rgb(233, 10, 47); */
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    
 }



.related .woocommerce-LoopProduct-link {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  width: 100%;
  /* background-color: rgb(228, 182, 17); */
  align-items: center;
}

.related h2.woocommerce-loop-product__title {
  display: block;
  text-align: center;
  width: 100%;
}
.related .woocommerce-Price-amount {
    font-size: 20px;
   
    text-align: left;
  
  }

  textarea[name=comment]{
    background-color: #eee;
   
  }

/*********** cart page ************/

a.components-button {
  text-decoration: none;
}

a.wc-block-components-product-name {
  color: #222;
  text-decoration: none;
}

/**************** check out **************/
.wc-block-components-button__text{
    color:#fff;
}

/***** woo generic ******/

.add_to_cart_button {
  margin: 0 auto;
  width: fit-content;
}

.wc-block-cart__submit-container a:link, .wc-block-cart__submit-container a:visited{
    color:#fff;
}
